* {
    box-sizing: border-box;
}

body {
    padding-right: 0px;
    padding-left:  0px;
}

.map {
    position:absolute;
    width: 100%;
    height: 100%;
    float: left;
    overflow-y: hidden;
}

canvas {
    position:absolute;
    left:0px; 
    top:0px;
    z-index: 1;
}

svg {
    position:absolute;
    left: 0px; 
    top:0px;
    z-index: 1;
}

div #textbox{
    position: absolute;
    z-index: 2;
    left: 0px; 
    top: 0px;
    padding: 20px;
    margin: auto; 
    height: 0;
    width: 100%;
    background-color: white;
    border: 2px solid #888;
    pointer-events: none;

}


div #locationInfo {
    position: absolute;
    z-index: 2;
    left: 0px; 
    top: 0px;
    height: 100%;
    width: 100%;
    margin: auto; 
    padding: 20px;
    max-height: 0;
    overflow: auto;
    pointer-events: none;
}
